<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longtao.mapper.DataTableMapper">
    <select id="selectAllTable" resultType="java.lang.String">
        -- 获取所有表名
        select name
        from sqlite_master
        where type = 'table'
          AND name NOT LIKE 'sqlite_%'
    </select>

    <select id="selectListByTableName" resultType="java.util.Map">
        select *
        from ${tableName}
    </select>

    <insert id="migration">
        insert into public.${tableName}
        <foreach collection="columnList" item="column" separator="," open="(" close=")">
            ${column}
        </foreach>
        values (
        <foreach collection="values" item="value" separator=",">
            #{value}
        </foreach>
        );
    </insert>

    <select id="getTableColumns" resultType="java.util.Map">
        SELECT column_name, data_type, character_maximum_length
        FROM information_schema.columns
        WHERE table_schema = 'public' AND table_name = #{tableName}
    </select>

    <update id="truncateByTableName">
        truncate table ${tableName};
    </update>
</mapper>